Duet Mobile Dashboard Example.txt
[
    {
        "id": "de2fd88b.8620a8",
        "type": "tab",
        "label": "Example Duet RRF Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6a92462.224f0b8",
        "type": "ui_switch",
        "z": "de2fd88b.8620a8",
        "name": "3DP1 Pwr",
        "label": "Mk2s Enclosure Pwr",
        "tooltip": "",
        "group": "52452535.e5876c",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "fa-plug",
        "oncolor": "Green",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "fa-plug",
        "offcolor": "Red",
        "x": 555,
        "y": 315,
        "wires": [
            [
                "176073f4.a015bc"
            ]
        ]
    },
    {
        "id": "176073f4.a015bc",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Set Global 3DP1_Pwr_State Var",
        "func": "var ChkState = global.get(\"3DP1_Pwr_State\", \"persist\");\nif (ChkState != msg.payload){\n    global.set(\"3DP1_Pwr_State\", msg.payload, \"persist\");\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 315,
        "wires": [
            [
                "78b63b99.738574"
            ]
        ]
    },
    {
        "id": "78b63b99.738574",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "Mk2s Enc Pwr UI Out",
        "links": [
            "1f271106.1fa32f",
            "5ee18c.4f8b7e74"
        ],
        "x": 1245,
        "y": 315,
        "wires": []
    },
    {
        "id": "941f4a9e.33b908",
        "type": "ui_switch",
        "z": "de2fd88b.8620a8",
        "name": "3DP2 Pwr",
        "label": "TwoTrees 3D Printer Pwr",
        "tooltip": "",
        "group": "7ad2aae.9bd7054",
        "order": 4,
        "width": "7",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "fa-plug",
        "oncolor": "Green",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "fa-plug",
        "offcolor": "Red",
        "x": 555,
        "y": 375,
        "wires": [
            [
                "92f0c2fd.209a5"
            ]
        ]
    },
    {
        "id": "92f0c2fd.209a5",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Set Global 3DP2_Pwr_State Var",
        "func": "var ChkState = global.get(\"3DP2_Pwr_State\", \"persist\");\nif (ChkState != msg.payload){\n    global.set(\"3DP2_Pwr_State\", msg.payload, \"persist\");\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 375,
        "wires": [
            [
                "203bc921.9d0f86"
            ]
        ]
    },
    {
        "id": "203bc921.9d0f86",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "TT 3DP Pwr UI Out",
        "links": [
            "2627e436.3d71dc"
        ],
        "x": 1245,
        "y": 375,
        "wires": []
    },
    {
        "id": "a0ad212.3fcd6e",
        "type": "ui_switch",
        "z": "de2fd88b.8620a8",
        "name": "Enc Heater Pwr",
        "label": "Enc Heater Pwr",
        "tooltip": "",
        "group": "52452535.e5876c",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "fa-plug",
        "oncolor": "Green",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "fa-plug",
        "offcolor": "Red",
        "x": 575,
        "y": 435,
        "wires": [
            [
                "a487171d.c7ab48"
            ]
        ]
    },
    {
        "id": "a487171d.c7ab48",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Set Global Gar_Enc_Heater_Pwr_State Var",
        "func": "var ChkState = global.get(\"Gar_Enc_Heater_Pwr_State\", \"persist\");\nif (ChkState != msg.payload){\n    global.set(\"Gar_Enc_Heater_Pwr_State\", msg.payload, \"persist\");\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 435,
        "wires": [
            [
                "8b5055fe.e7bdc8"
            ]
        ]
    },
    {
        "id": "1f585d64.8c45a3",
        "type": "link in",
        "z": "de2fd88b.8620a8",
        "name": "Enc Heater Pwr UI In",
        "links": [
            "45ba4f97.8c886",
            "b746d04b.03189"
        ],
        "x": 390,
        "y": 435,
        "wires": [
            [
                "a0ad212.3fcd6e"
            ]
        ]
    },
    {
        "id": "ca5be1e.e873b2",
        "type": "ui_gauge",
        "z": "de2fd88b.8620a8",
        "name": "Enc Temp",
        "group": "52452535.e5876c",
        "order": 1,
        "width": "5",
        "height": "4",
        "gtype": "gage",
        "title": "Enc Current Temp",
        "label": "celsius",
        "format": "{{value}}",
        "min": "5",
        "max": "50",
        "colors": [
            "#0080c0",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "30",
        "x": 2490,
        "y": 765,
        "wires": []
    },
    {
        "id": "54b3fa6a.4f9cf4",
        "type": "ui_slider",
        "z": "de2fd88b.8620a8",
        "name": "Target Temp",
        "label": "Target Temp",
        "tooltip": "",
        "group": "52452535.e5876c",
        "order": 2,
        "width": "2",
        "height": "4",
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 565,
        "y": 615,
        "wires": [
            [
                "bee6a10.350f46"
            ]
        ]
    },
    {
        "id": "e0bae971.784748",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "Temp Check",
        "property": "payload.currtemp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "payload.targtemplow",
                "vt": "msg"
            },
            {
                "t": "gte",
                "v": "payload.targtemphigh",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1975,
        "y": 555,
        "wires": [
            [
                "ebffaa75.8a6448"
            ],
            [
                "81a01176.901fc"
            ]
        ]
    },
    {
        "id": "8c8fb471.816ae8",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Get Enc Pwr Status & Set Temp Range Vals",
        "func": "var currtemp = flow.get(\"currtemp\");\nvar targtemp = flow.get(\"targettemp\");\nvar encstate = global.get(\"Gar_Mk2s_Enc_Pwr_State\", \"persist\");\nif (isNaN(currtemp)) {\n    currtemp = 0;\n} \nif (isNaN(targtemp)) {\n    targtemp = 0;\n}\nmsg.payload = {\"currtemp\": currtemp, \"targtemphigh\": targtemp+1, \"targtemplow\": targtemp-1, \"encpwrstate\": encstate, \"targtemp\": targtemp};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1160,
        "y": 615,
        "wires": [
            [
                "f78e07ea.0144a8"
            ]
        ]
    },
    {
        "id": "a8a0ef89.82687",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "Check Enc Pwr State",
        "property": "payload.encpwrstate",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1735,
        "y": 555,
        "wires": [
            [
                "e0bae971.784748"
            ],
            [
                "81a01176.901fc"
            ]
        ]
    },
    {
        "id": "79e41cbc.1cc6d4",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2195,
        "y": 675,
        "wires": [
            [
                "b746d04b.03189"
            ]
        ]
    },
    {
        "id": "ebffaa75.8a6448",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2195,
        "y": 555,
        "wires": [
            [
                "b746d04b.03189",
                "8dee03a3.20c1d"
            ]
        ]
    },
    {
        "id": "b746d04b.03189",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "",
        "links": [
            "1f585d64.8c45a3"
        ],
        "x": 2445,
        "y": 615,
        "wires": []
    },
    {
        "id": "8dee03a3.20c1d",
        "type": "stoptimer",
        "z": "de2fd88b.8620a8",
        "duration": "10",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "Delay 10 Mins",
        "x": 2225,
        "y": 615,
        "wires": [
            [
                "79e41cbc.1cc6d4"
            ],
            []
        ]
    },
    {
        "id": "81a01176.901fc",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "Cancel Timer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1765,
        "y": 660,
        "wires": [
            [
                "8dee03a3.20c1d",
                "79e41cbc.1cc6d4"
            ]
        ]
    },
    {
        "id": "bee6a10.350f46",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "set targettemp var",
        "func": "flow.set(\"targettemp\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 615,
        "wires": [
            [
                "8c8fb471.816ae8"
            ]
        ]
    },
    {
        "id": "89c0506.9bdaab",
        "type": "link in",
        "z": "de2fd88b.8620a8",
        "name": "Enc Target Temp (Num) UI In",
        "links": [
            "4b67b28.f25f94c",
            "86126cbb.9ba8e",
            "a791daa9.cea648"
        ],
        "x": 390,
        "y": 615,
        "wires": [
            [
                "54b3fa6a.4f9cf4"
            ]
        ]
    },
    {
        "id": "f78e07ea.0144a8",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "Check targ temp > 0",
        "property": "payload.targtemp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1480,
        "y": 615,
        "wires": [
            [
                "a8a0ef89.82687"
            ],
            [
                "81a01176.901fc"
            ]
        ]
    },
    {
        "id": "3d72f985.8396b6",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.currtemp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2300,
        "y": 765,
        "wires": [
            [
                "ca5be1e.e873b2"
            ]
        ]
    },
    {
        "id": "9b9feea3.2b4b8",
        "type": "exec",
        "z": "de2fd88b.8620a8",
        "command": "/usr/bin/sshpass -p 'PASSWORD' ssh -o StrictHostKeyChecking=no  USERNAME@RPI_IP 'sudo shutdown now'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Shutdown RPI",
        "x": 1230,
        "y": 915,
        "wires": [
            [
                "42becf00.fdfc6",
                "ef31551.2daf2a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "ef31551.2daf2a8",
        "type": "delay",
        "z": "de2fd88b.8620a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1695,
        "y": 900,
        "wires": [
            [
                "aad8775c.0f1038",
                "6f210101.177ba"
            ]
        ]
    },
    {
        "id": "cc6de6b2.3641f8",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "ON / OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 555,
        "y": 825,
        "wires": [
            [
                "7e474047.94376",
                "ab118309.2ff98"
            ],
            [
                "b30a5a5e.9b3f78",
                "4230988d.0a0688"
            ]
        ]
    },
    {
        "id": "42becf00.fdfc6",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 855,
        "wires": [
            [
                "45ba4f97.8c886"
            ]
        ]
    },
    {
        "id": "45ba4f97.8c886",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "Enc Heater",
        "links": [
            "1f585d64.8c45a3"
        ],
        "x": 1530,
        "y": 855,
        "wires": []
    },
    {
        "id": "aad8775c.0f1038",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1835,
        "y": 960,
        "wires": [
            [
                "8d072ea6.e1d2c"
            ]
        ]
    },
    {
        "id": "6f210101.177ba",
        "type": "delay",
        "z": "de2fd88b.8620a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1965,
        "y": 900,
        "wires": [
            [
                "dbdc3d69.6bf87"
            ]
        ]
    },
    {
        "id": "5ee18c.4f8b7e74",
        "type": "link in",
        "z": "de2fd88b.8620a8",
        "name": "MK2s Enc Pwr",
        "links": [
            "78b63b99.738574"
        ],
        "x": 390,
        "y": 825,
        "wires": [
            [
                "cc6de6b2.3641f8"
            ]
        ]
    },
    {
        "id": "dbdc3d69.6bf87",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "Set Enc Targ Temp to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 900,
        "wires": [
            [
                "86126cbb.9ba8e",
                "ca5be1e.e873b2"
            ]
        ]
    },
    {
        "id": "86126cbb.9ba8e",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "TargTemp",
        "links": [
            "89c0506.9bdaab"
        ],
        "x": 2475,
        "y": 900,
        "wires": []
    },
    {
        "id": "7e474047.94376",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "Tas Skt 1",
        "links": [
            "2c6323d0.e8051c"
        ],
        "x": 750,
        "y": 690,
        "wires": []
    },
    {
        "id": "377c1956.eaa976",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "3DP1 Safely shutdown RPi before pwr off",
        "info": "",
        "x": 175,
        "y": 825,
        "wires": []
    },
    {
        "id": "3e3fa6a5.8c087a",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "enclosure temp control",
        "info": "",
        "x": 145,
        "y": 615,
        "wires": []
    },
    {
        "id": "3705ee7d.55a452",
        "type": "exec",
        "z": "de2fd88b.8620a8",
        "command": "/usr/bin/sshpass -p 'PASSWORD' ssh -o StrictHostKeyChecking=no  USERNAME@RPI_IP 'sudo shutdown now'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Shutdown RPI",
        "x": 1230,
        "y": 1365,
        "wires": [
            [
                "459fd29a.059dcc"
            ],
            [],
            []
        ]
    },
    {
        "id": "459fd29a.059dcc",
        "type": "delay",
        "z": "de2fd88b.8620a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1425,
        "y": 1365,
        "wires": [
            [
                "77f02cf2.9bd6b4"
            ]
        ]
    },
    {
        "id": "4b661a74.acd974",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "ON / OFF",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 555,
        "y": 1305,
        "wires": [
            [
                "6b4cfa75.cae7a4",
                "3fcfce16.967fa2"
            ],
            [
                "a9548a14.167bc8",
                "2810393b.ac0946"
            ]
        ]
    },
    {
        "id": "77f02cf2.9bd6b4",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1410,
        "wires": [
            [
                "b629df4b.4a53d"
            ]
        ]
    },
    {
        "id": "2627e436.3d71dc",
        "type": "link in",
        "z": "de2fd88b.8620a8",
        "name": "TT Pwr",
        "links": [
            "203bc921.9d0f86"
        ],
        "x": 390,
        "y": 1300,
        "wires": [
            [
                "4b661a74.acd974"
            ]
        ]
    },
    {
        "id": "6b4cfa75.cae7a4",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "Tas Skt 2",
        "links": [
            "d7f74565.f258f8"
        ],
        "x": 750,
        "y": 1140,
        "wires": []
    },
    {
        "id": "384d4cea.5766b4",
        "type": "ui_template",
        "z": "de2fd88b.8620a8",
        "group": "7ad2aae.9bd7054",
        "name": "CCTV 3DP2",
        "order": 5,
        "width": "7",
        "height": "4",
        "format": "<!DOCTYPE html>  \n<html>  \n    <head>  \n        <style> \n            .geeks { \n                width:100%; \n                height:100%px; \n            } \n            img { \n                width:100%; \n                height:100%; \n            } \n        </style> \n    </head>  \n    <body> \n        <div class = \"geeks\"> \n            <img src= \"http://10.66.1.52:8082\" style=\"transform:rotate(0deg);\"></img>\n        </div> \n    </body>  \n</html> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 565,
        "y": 255,
        "wires": [
            []
        ]
    },
    {
        "id": "dd617585.f79768",
        "type": "ui_template",
        "z": "de2fd88b.8620a8",
        "group": "52452535.e5876c",
        "name": "CCTV 3DP1",
        "order": 9,
        "width": "7",
        "height": "4",
        "format": "<!DOCTYPE html>  \n<html>  \n    <head>  \n        <style> \n            .geeks { \n                width:100%; \n                height:100%px; \n            } \n            img { \n                width:100%; \n                height:100%; \n            } \n        </style> \n    </head>  \n    <body> \n        <div class = \"geeks\"> \n            <img src= \"http://10.66.1.52:8081\"></img>\n        </div> \n    </body>  \n</html> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 565,
        "y": 195,
        "wires": [
            []
        ]
    },
    {
        "id": "c4db7044.299ba",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Conv to num & set currtemp var",
        "func": "var currtemp = msg.payload.actual;\nflow.set(\"currtemp\", currtemp);\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2035,
        "y": 750,
        "wires": [
            [
                "3d72f985.8396b6",
                "8c8fb471.816ae8"
            ]
        ]
    },
    {
        "id": "37b72a5c.e28fb6",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Conv to num",
        "func": "var currtemp = msg.payload.actual;\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1975,
        "y": 795,
        "wires": [
            [
                "67336053.24811"
            ]
        ]
    },
    {
        "id": "79c1b715.e167a8",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Conv to num",
        "func": "var currtemp = msg.payload.actual;\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1975,
        "y": 840,
        "wires": [
            [
                "a1b2f37e.dea3c"
            ]
        ]
    },
    {
        "id": "67336053.24811",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.currtemp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2305,
        "y": 805,
        "wires": [
            [
                "f3420e6b.94ba4"
            ]
        ]
    },
    {
        "id": "a1b2f37e.dea3c",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.currtemp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2305,
        "y": 845,
        "wires": [
            [
                "10425486.54bf4b"
            ]
        ]
    },
    {
        "id": "f3420e6b.94ba4",
        "type": "ui_gauge",
        "z": "de2fd88b.8620a8",
        "name": "Tool Temp",
        "group": "52452535.e5876c",
        "order": 3,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Tool Current Temp",
        "label": "celsius",
        "format": "{{value}}",
        "min": "50",
        "max": "300",
        "colors": [
            "#0080c0",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "160",
        "seg2": "285",
        "x": 2495,
        "y": 805,
        "wires": []
    },
    {
        "id": "10425486.54bf4b",
        "type": "ui_gauge",
        "z": "de2fd88b.8620a8",
        "name": "Bed Temp",
        "group": "52452535.e5876c",
        "order": 5,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Bed Current Temp",
        "label": "celsius",
        "format": "{{value}}",
        "min": "50",
        "max": "110",
        "colors": [
            "#0080c0",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "85",
        "x": 2485,
        "y": 845,
        "wires": []
    },
    {
        "id": "3f3e45b9.3d9f5a",
        "type": "http request",
        "z": "de2fd88b.8620a8",
        "name": "DWC",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://3DP1_IP/machine/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1430,
        "y": 750,
        "wires": [
            [
                "61a9446f.17883c",
                "373e6fae.24fec",
                "9e2a0a4c.f62ce8"
            ]
        ]
    },
    {
        "id": "ab118309.2ff98",
        "type": "delay",
        "z": "de2fd88b.8620a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 795,
        "y": 750,
        "wires": [
            [
                "fd8474d3.5a6c38"
            ]
        ]
    },
    {
        "id": "fd8474d3.5a6c38",
        "type": "looptimer",
        "z": "de2fd88b.8620a8",
        "duration": "15",
        "units": "Second",
        "maxloops": "100000",
        "maxtimeout": "24",
        "maxtimeoutunits": "Hour",
        "name": "Check Every 15 Seconds",
        "x": 1220,
        "y": 750,
        "wires": [
            [
                "3f3e45b9.3d9f5a"
            ],
            []
        ]
    },
    {
        "id": "61a9446f.17883c",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "Extract Chamber Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload.actual",
                "pt": "msg",
                "to": "payload.result.sensors.analog[2].lastReading",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1735,
        "y": 750,
        "wires": [
            [
                "c4db7044.299ba"
            ]
        ]
    },
    {
        "id": "b30a5a5e.9b3f78",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "STOP LOOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 805,
        "y": 825,
        "wires": [
            [
                "fd8474d3.5a6c38"
            ]
        ]
    },
    {
        "id": "373e6fae.24fec",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "Extract Tool Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload.actual",
                "pt": "msg",
                "to": "payload.result.sensors.analog[1].lastReading",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1725,
        "y": 795,
        "wires": [
            [
                "37b72a5c.e28fb6"
            ]
        ]
    },
    {
        "id": "9e2a0a4c.f62ce8",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "Extract Bed Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload.actual",
                "pt": "msg",
                "to": "payload.result.sensors.analog[0].lastReading",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1725,
        "y": 840,
        "wires": [
            [
                "79c1b715.e167a8"
            ]
        ]
    },
    {
        "id": "8429f008.01cb",
        "type": "http request",
        "z": "de2fd88b.8620a8",
        "name": "DWC",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://3DP2_IP/rr_status?type=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1430,
        "y": 1200,
        "wires": [
            [
                "f83540bb.afbdd",
                "32cb0316.da647c"
            ]
        ]
    },
    {
        "id": "3fcfce16.967fa2",
        "type": "delay",
        "z": "de2fd88b.8620a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 795,
        "y": 1200,
        "wires": [
            [
                "9f44fc49.a5fa4"
            ]
        ]
    },
    {
        "id": "9f44fc49.a5fa4",
        "type": "looptimer",
        "z": "de2fd88b.8620a8",
        "duration": "15",
        "units": "Second",
        "maxloops": "100000",
        "maxtimeout": "24",
        "maxtimeoutunits": "Hour",
        "name": "Check Every 15 Seconds",
        "x": 1220,
        "y": 1200,
        "wires": [
            [
                "8429f008.01cb"
            ],
            []
        ]
    },
    {
        "id": "a9548a14.167bc8",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "STOP LOOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 805,
        "y": 1305,
        "wires": [
            [
                "9f44fc49.a5fa4"
            ]
        ]
    },
    {
        "id": "f83540bb.afbdd",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "Extract Tool Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload.actual",
                "pt": "msg",
                "to": "payload.temps.current[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 1170,
        "wires": [
            [
                "734e9f73.ee24b"
            ]
        ]
    },
    {
        "id": "32cb0316.da647c",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "Extract Bed Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload.actual",
                "pt": "msg",
                "to": "payload.temps.bed.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 1230,
        "wires": [
            [
                "b3d7afe4.f04f"
            ]
        ]
    },
    {
        "id": "734e9f73.ee24b",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Conv to num",
        "func": "var currtemp = msg.payload.actual;\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2110,
        "y": 1170,
        "wires": [
            [
                "cf50321f.c375a"
            ]
        ]
    },
    {
        "id": "b3d7afe4.f04f",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Conv to num",
        "func": "var currtemp = msg.payload.actual;\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2110,
        "y": 1230,
        "wires": [
            [
                "2565b6b4.9ec4ba"
            ]
        ]
    },
    {
        "id": "cf50321f.c375a",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.currtemp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2300,
        "y": 1170,
        "wires": [
            [
                "48671f45.5d76d"
            ]
        ]
    },
    {
        "id": "2565b6b4.9ec4ba",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.currtemp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2300,
        "y": 1230,
        "wires": [
            [
                "4c719e43.9990a"
            ]
        ]
    },
    {
        "id": "48671f45.5d76d",
        "type": "ui_gauge",
        "z": "de2fd88b.8620a8",
        "name": "Tool Temp",
        "group": "7ad2aae.9bd7054",
        "order": 1,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Tool Current Temp",
        "label": "celsius",
        "format": "{{value}}",
        "min": "50",
        "max": "300",
        "colors": [
            "#0080c0",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "160",
        "seg2": "285",
        "x": 2500,
        "y": 1170,
        "wires": []
    },
    {
        "id": "4c719e43.9990a",
        "type": "ui_gauge",
        "z": "de2fd88b.8620a8",
        "name": "Bed Temp",
        "group": "7ad2aae.9bd7054",
        "order": 3,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Bed Current Temp",
        "label": "celsius",
        "format": "{{value}}",
        "min": "50",
        "max": "110",
        "colors": [
            "#0080c0",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "85",
        "x": 2490,
        "y": 1230,
        "wires": []
    },
    {
        "id": "4230988d.0a0688",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Check 3DP2 PWR Status",
        "func": "var ChkState = global.get(\"3DP2_Pwr_State\", \"persist\");\nif (ChkState != \"ON\"){\n    msg.payload = \"TURNOFFPI\"\n} else {\n    msg.payload = \"LEAVEPION\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 785,
        "y": 960,
        "wires": [
            [
                "f74af7f2.20a118"
            ]
        ]
    },
    {
        "id": "f74af7f2.20a118",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "PI STATUS",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TURNOFFPI",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LEAVEPION",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1000,
        "y": 960,
        "wires": [
            [
                "9b9feea3.2b4b8"
            ],
            [
                "aad8775c.0f1038"
            ]
        ]
    },
    {
        "id": "2810393b.ac0946",
        "type": "function",
        "z": "de2fd88b.8620a8",
        "name": "Check 3DP1 PWR Status",
        "func": "var ChkState = global.get(\"3DP1_Pwr_State\", \"persist\");\nif (ChkState != \"ON\"){\n    msg.payload = \"TURNOFFPI\"\n} else {\n    msg.payload = \"LEAVEPION\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 785,
        "y": 1410,
        "wires": [
            [
                "6dae8766.7a9d88"
            ]
        ]
    },
    {
        "id": "6dae8766.7a9d88",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "PI STATUS",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TURNOFFPI",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LEAVEPION",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1000,
        "y": 1410,
        "wires": [
            [
                "3705ee7d.55a452"
            ],
            [
                "77f02cf2.9bd6b4"
            ]
        ]
    },
    {
        "id": "36fbbc34.f60484",
        "type": "mqtt out",
        "z": "de2fd88b.8620a8",
        "name": "Sw_003",
        "topic": "tasmota/Sw_003/cmnd/POWER1",
        "qos": "0",
        "retain": "false",
        "broker": "22518fa6.b7642",
        "x": 1560,
        "y": 435,
        "wires": []
    },
    {
        "id": "4d361d7a.cfbf64",
        "type": "mqtt out",
        "z": "de2fd88b.8620a8",
        "name": "Sw_002",
        "topic": "tasmota/Sw_002/cmnd/POWER1",
        "qos": "0",
        "retain": "false",
        "broker": "22518fa6.b7642",
        "x": 1560,
        "y": 375,
        "wires": []
    },
    {
        "id": "b10d031e.9885d",
        "type": "mqtt out",
        "z": "de2fd88b.8620a8",
        "name": "Sw_001",
        "topic": "tasmota/Sw_001/cmnd/POWER1",
        "qos": "0",
        "retain": "false",
        "broker": "22518fa6.b7642",
        "x": 1560,
        "y": 315,
        "wires": []
    },
    {
        "id": "22f73be6.260b24",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "Dashboard UI & MQTT Control",
        "info": "",
        "x": 1120,
        "y": 90,
        "wires": []
    },
    {
        "id": "656b5eef.519f5",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "EM STOP for RRF+SBC",
        "info": "",
        "x": 155,
        "y": 495,
        "wires": []
    },
    {
        "id": "95605c76.945ce",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "EM STOP for RRF",
        "info": "",
        "x": 135,
        "y": 555,
        "wires": []
    },
    {
        "id": "168e5529.5f80fb",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "PWR Control for Enc Heater",
        "info": "",
        "x": 165,
        "y": 435,
        "wires": []
    },
    {
        "id": "5c2ab366.3117cc",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "PWR Control 3DP2",
        "info": "",
        "x": 135,
        "y": 375,
        "wires": []
    },
    {
        "id": "e50cc17c.e5e98",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "PWR Control 3DP1",
        "info": "",
        "x": 135,
        "y": 315,
        "wires": []
    },
    {
        "id": "2c6323d0.e8051c",
        "type": "link in",
        "z": "de2fd88b.8620a8",
        "name": "SW_001_MQTT_IN",
        "links": [
            "7e474047.94376",
            "8d072ea6.e1d2c"
        ],
        "x": 1425,
        "y": 315,
        "wires": [
            [
                "b10d031e.9885d"
            ]
        ]
    },
    {
        "id": "d7f74565.f258f8",
        "type": "link in",
        "z": "de2fd88b.8620a8",
        "name": "SW_002_MQTT_IN",
        "links": [
            "6b4cfa75.cae7a4",
            "b629df4b.4a53d"
        ],
        "x": 1425,
        "y": 375,
        "wires": [
            [
                "4d361d7a.cfbf64"
            ]
        ]
    },
    {
        "id": "6a722497.60734c",
        "type": "link in",
        "z": "de2fd88b.8620a8",
        "name": "SW_003_MQTT_IN",
        "links": [
            "8b5055fe.e7bdc8"
        ],
        "x": 1425,
        "y": 435,
        "wires": [
            [
                "36fbbc34.f60484"
            ]
        ]
    },
    {
        "id": "8b5055fe.e7bdc8",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "",
        "links": [
            "6a722497.60734c"
        ],
        "x": 1245,
        "y": 435,
        "wires": []
    },
    {
        "id": "8d072ea6.e1d2c",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "",
        "links": [
            "2c6323d0.e8051c"
        ],
        "x": 1980,
        "y": 960,
        "wires": []
    },
    {
        "id": "b629df4b.4a53d",
        "type": "link out",
        "z": "de2fd88b.8620a8",
        "name": "Tas Skt 2",
        "links": [
            "d7f74565.f258f8"
        ],
        "x": 1755,
        "y": 1410,
        "wires": []
    },
    {
        "id": "1ac066bd.bf5bd9",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "3DP2 Safely shutdown RPi before pwr off",
        "info": "",
        "x": 175,
        "y": 1305,
        "wires": []
    },
    {
        "id": "c74be87e.762578",
        "type": "ui_ui_control",
        "z": "de2fd88b.8620a8",
        "name": "Change Tab",
        "events": "change",
        "x": 805,
        "y": 135,
        "wires": [
            []
        ]
    },
    {
        "id": "5b26adc4.f98be4",
        "type": "ui_button",
        "z": "de2fd88b.8620a8",
        "name": "Main menu",
        "group": "85ca0704.c34e18",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Main Menu",
        "tooltip": "",
        "color": "",
        "bgcolor": "Red",
        "icon": "fa-list-ol ",
        "payload": "{\"tab\": \"Home Control Main Menu\"}",
        "payloadType": "json",
        "topic": "",
        "x": 565,
        "y": 135,
        "wires": [
            [
                "c74be87e.762578"
            ]
        ]
    },
    {
        "id": "8ff4cefd.9bbf7",
        "type": "comment",
        "z": "de2fd88b.8620a8",
        "name": "README",
        "info": "This flow seperates the comand to shutdown the RPI, from the command to turn off the power to the RPI.\n\nThis is because I use 1 RPI to drive both webcams for my two printers. Therefore I run the RPI with two power supplies (USB & GPIO) which turn on with each printer independently.\n\n3DP2 is running a duet 2 ethernet with paneldue\n3DP1 is running SKR 1.4 + SBC custom RRF (see gloomyandys git for more details)\n\nThe web calls to the API are different for each printer, as the API's respond to different commands\n(I do not know why??? but I am sure there is a good reason!)\n\nI do not use this version of the flow. \n\nThis flow has been abstracted from my larger home automation dashboard and altered to make it self contained. You should review all asptects of the flow before deployment/use. It is provided as an example only.\n\nIP addresses and usernames/passwords will need to be updated in the http & exec nodes to match your environment. Exec nodes to remotely shutdown RPI use SSHPASS.",
        "x": 180,
        "y": 1050,
        "wires": []
    },
    {
        "id": "e08fdbe4.4a54b8",
        "type": "ui_button",
        "z": "de2fd88b.8620a8",
        "name": "3DP1 EM STOP",
        "group": "52452535.e5876c",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "fa-ban",
        "payload": "Stop 3DP1?",
        "payloadType": "str",
        "topic": "data",
        "x": 575,
        "y": 495,
        "wires": [
            [
                "c5e2ffb4.145f9"
            ]
        ]
    },
    {
        "id": "56c9f3c5.5eefcc",
        "type": "http request",
        "z": "de2fd88b.8620a8",
        "name": "3DP1 EMSTOP",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://3DP1_IP/machine/code/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1475,
        "y": 495,
        "wires": [
            [
                "96356641.4ff538"
            ]
        ]
    },
    {
        "id": "96356641.4ff538",
        "type": "debug",
        "z": "de2fd88b.8620a8",
        "name": "em",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1685,
        "y": 495,
        "wires": []
    },
    {
        "id": "66dce74c.d94838",
        "type": "http request",
        "z": "de2fd88b.8620a8",
        "name": "3DP2 EMSTOP",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://3DP2_IP/rr_gcode?gcode=M112",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1295,
        "y": 555,
        "wires": [
            [
                "f7ef6af5.aef2e8"
            ]
        ]
    },
    {
        "id": "ebe0ba36.26a5e8",
        "type": "ui_button",
        "z": "de2fd88b.8620a8",
        "name": "3DP2 EM STOP",
        "group": "7ad2aae.9bd7054",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "icon": "fa-ban",
        "payload": "Stop 3DP2?",
        "payloadType": "str",
        "topic": "",
        "x": 575,
        "y": 555,
        "wires": [
            [
                "7c8c5881.114198"
            ]
        ]
    },
    {
        "id": "f7ef6af5.aef2e8",
        "type": "debug",
        "z": "de2fd88b.8620a8",
        "name": "em2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 555,
        "wires": []
    },
    {
        "id": "c5e2ffb4.145f9",
        "type": "ui_toast",
        "z": "de2fd88b.8620a8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "STOP",
        "cancel": "CANCEL",
        "raw": false,
        "topic": "Emergency Stop",
        "name": "CONFIRM",
        "x": 805,
        "y": 495,
        "wires": [
            [
                "f9285f96.527f6"
            ]
        ]
    },
    {
        "id": "f9285f96.527f6",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "STOP / CANCEL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "STOP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CANCEL",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1065,
        "y": 495,
        "wires": [
            [
                "84a219d9.224de8"
            ],
            []
        ]
    },
    {
        "id": "7c8c5881.114198",
        "type": "ui_toast",
        "z": "de2fd88b.8620a8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "STOP",
        "cancel": "CANCEL",
        "raw": false,
        "topic": "Emergency Stop",
        "name": "CONFIRM",
        "x": 805,
        "y": 555,
        "wires": [
            [
                "147d0d24.9e14e3"
            ]
        ]
    },
    {
        "id": "147d0d24.9e14e3",
        "type": "switch",
        "z": "de2fd88b.8620a8",
        "name": "STOP / CANCEL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "STOP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CANCEL",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1065,
        "y": 555,
        "wires": [
            [
                "66dce74c.d94838"
            ],
            []
        ]
    },
    {
        "id": "84a219d9.224de8",
        "type": "change",
        "z": "de2fd88b.8620a8",
        "name": "Set G Code",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "M112",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1285,
        "y": 495,
        "wires": [
            [
                "56c9f3c5.5eefcc"
            ]
        ]
    },
    {
        "id": "52452535.e5876c",
        "type": "ui_group",
        "z": "",
        "name": "MK2s",
        "tab": "72f43640.450598",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "7ad2aae.9bd7054",
        "type": "ui_group",
        "z": "",
        "name": "Two Trees Sapphire S",
        "tab": "72f43640.450598",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "22518fa6.b7642",
        "type": "mqtt-broker",
        "z": "",
        "name": "OpenHab Local Broker",
        "broker": "10.66.1.51",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "85ca0704.c34e18",
        "type": "ui_group",
        "z": "",
        "name": "mw",
        "tab": "72f43640.450598",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "72f43640.450598",
        "type": "ui_tab",
        "z": "",
        "name": "Garage",
        "icon": "fa-building",
        "order": 12,
        "disabled": false,
        "hidden": false
    }
]