Duet Pi Control.json
[{"id":"7d46c6b9.9d9188","type":"tab","label":"DB Garage","disabled":false,"info":""},{"id":"ccf47057.206e3","type":"ui_switch","z":"7d46c6b9.9d9188","name":"Mk2s Enclosure Pwr","label":"Mk2s Enclosure Pwr","tooltip":"","group":"52452535.e5876c","order":6,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"fa-plug","oncolor":"Green","offvalue":"OFF","offvalueType":"str","officon":"fa-plug","offcolor":"Red","x":460,"y":80,"wires":[["ccbf0730.37ab98"]]},{"id":"ccbf0730.37ab98","type":"function","z":"7d46c6b9.9d9188","name":"Set Global Gar_Mk2s_Enc_Pwr_State Var","func":"var ChkState = global.get(\"Gar_Mk2s_Enc_Pwr_State\", \"persist\");\nif (ChkState != msg.payload){\n    global.set(\"Gar_Mk2s_Enc_Pwr_State\", msg.payload, \"persist\");\n    return msg;\n}","outputs":1,"noerr":0,"x":780,"y":80,"wires":[["b1245f72.e0833"]]},{"id":"c4d38f89.6d1e6","type":"link in","z":"7d46c6b9.9d9188","name":"Mk2s Enc Pwr UI In","links":["d3cdd7c6.949c98","aa758646.e48468","a115d418.bff1d8"],"x":255,"y":80,"wires":[["ccf47057.206e3"]]},{"id":"b1245f72.e0833","type":"link out","z":"7d46c6b9.9d9188","name":"Mk2s Enc Pwr UI Out","links":["1f271106.1fa32f","3706ef5e.aeb29"],"x":1055,"y":80,"wires":[]},{"id":"482c2f07.8031c","type":"ui_switch","z":"7d46c6b9.9d9188","name":"TwoTrees 3D Printer Pwr","label":"TwoTrees 3D Printer Pwr","tooltip":"","group":"7ad2aae.9bd7054","order":4,"width":"7","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"fa-plug","oncolor":"Green","offvalue":"OFF","offvalueType":"str","officon":"fa-plug","offcolor":"Red","x":470,"y":160,"wires":[["a39f22f1.fc6e9"]]},{"id":"a39f22f1.fc6e9","type":"function","z":"7d46c6b9.9d9188","name":"Set Global Gar_TT_3DP_Pwr_State Var","func":"var ChkState = global.get(\"Gar_TT_3DP_Pwr_State\", \"persist\");\nif (ChkState != msg.payload){\n    global.set(\"Gar_TT_3DP_Pwr_State\", msg.payload, \"persist\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":160,"wires":[["99e2e255.44764"]]},{"id":"1012b5f8.33892a","type":"link in","z":"7d46c6b9.9d9188","name":"TT 3DP Pwr UI In","links":["b0495d58.47cca"],"x":255,"y":160,"wires":[["482c2f07.8031c"]]},{"id":"99e2e255.44764","type":"link out","z":"7d46c6b9.9d9188","name":"TT 3DP Pwr UI Out","links":["273948a5.f5f998"],"x":1055,"y":140,"wires":[]},{"id":"aabd351c.7eb0f8","type":"ui_switch","z":"7d46c6b9.9d9188","name":"Enc Heater Pwr","label":"Enc Heater Pwr","tooltip":"","group":"52452535.e5876c","order":8,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"fa-plug","oncolor":"Green","offvalue":"OFF","offvalueType":"str","officon":"fa-plug","offcolor":"Red","x":440,"y":240,"wires":[["45b14b9b.9eb1e4"]]},{"id":"45b14b9b.9eb1e4","type":"function","z":"7d46c6b9.9d9188","name":"Set Global Gar_Enc_Heater_Pwr_State Var","func":"var ChkState = global.get(\"Gar_Enc_Heater_Pwr_State\", \"persist\");\nif (ChkState != msg.payload){\n    global.set(\"Gar_Enc_Heater_Pwr_State\", msg.payload, \"persist\");\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":240,"wires":[["4a39c770.9b7748","a2901f3e.12a9d"]]},{"id":"ab556289.0781d","type":"link in","z":"7d46c6b9.9d9188","name":"Enc Heater Pwr UI In","links":["f70f954c.f74298","e5fa95dc.63f588","a4392450.cdab68","84d00dbc.7fe2","f312bc6f.6e52a","9ea467e1.1d6f08"],"x":255,"y":240,"wires":[["aabd351c.7eb0f8"]]},{"id":"4a39c770.9b7748","type":"link out","z":"7d46c6b9.9d9188","name":"Enc Heater Pwr UI Out","links":[],"x":1055,"y":240,"wires":[]},{"id":"a2901f3e.12a9d","type":"link out","z":"7d46c6b9.9d9188","name":"Tas Skt 3","links":["204ca885.eb1008"],"x":1055,"y":280,"wires":[]},{"id":"e52110b6.618c7","type":"ui_gauge","z":"7d46c6b9.9d9188","name":"Enc Temp","group":"52452535.e5876c","order":1,"width":"5","height":"4","gtype":"gage","title":"Enc Current Temp","label":"celsius","format":"{{value}}","min":"5","max":"50","colors":["#0080c0","#00ff00","#ca3838"],"seg1":"18","seg2":"30","x":3250,"y":850,"wires":[]},{"id":"40a12ed6.d6139","type":"ui_slider","z":"7d46c6b9.9d9188","name":"Target Temp","label":"Target Temp","tooltip":"","group":"52452535.e5876c","order":2,"width":"2","height":"4","passthru":true,"outs":"end","topic":"","min":0,"max":"40","step":"5","x":470,"y":400,"wires":[["db542a78.f0dfc8"]]},{"id":"28c66a09.26dbe6","type":"switch","z":"7d46c6b9.9d9188","name":"Temp Check","property":"payload.currtemp","propertyType":"msg","rules":[{"t":"lt","v":"payload.targtemplow","vt":"msg"},{"t":"gte","v":"payload.targtemphigh","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":2000,"y":355,"wires":[["3f723745.ecb578"],["8e5d6d7f.41a33"]]},{"id":"227803d2.30aabc","type":"function","z":"7d46c6b9.9d9188","name":"Get Enc Pwr Status & Set Temp Range Vals","func":"var currtemp = flow.get(\"currtemp\");\nvar targtemp = flow.get(\"targettemp\");\nvar encstate = global.get(\"Gar_Mk2s_Enc_Pwr_State\", \"persist\");\nif (isNaN(currtemp)) {\n    currtemp = 0;\n} \nif (isNaN(targtemp)) {\n    targtemp = 0;\n}\nmsg.payload = {\"currtemp\": currtemp, \"targtemphigh\": targtemp+1, \"targtemplow\": targtemp-1, \"encpwrstate\": encstate, \"targtemp\": targtemp};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1095,"y":400,"wires":[["9e1a2a9e.190248"]]},{"id":"329f8348.c91e1c","type":"switch","z":"7d46c6b9.9d9188","name":"Check Enc Pwr State","property":"payload.encpwrstate","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1750,"y":400,"wires":[["28c66a09.26dbe6"],["8e5d6d7f.41a33"]]},{"id":"19ec1f15.cad861","type":"change","z":"7d46c6b9.9d9188","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2320,"y":500,"wires":[["84d00dbc.7fe2"]]},{"id":"3f723745.ecb578","type":"change","z":"7d46c6b9.9d9188","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2320,"y":300,"wires":[["84d00dbc.7fe2","1f1008c4.59ecf7"]]},{"id":"84d00dbc.7fe2","type":"link out","z":"7d46c6b9.9d9188","name":"","links":["ab556289.0781d"],"x":2565,"y":420,"wires":[]},{"id":"1f1008c4.59ecf7","type":"stoptimer","z":"7d46c6b9.9d9188","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"Delay 10 Mins","x":2350,"y":400,"wires":[["19ec1f15.cad861"],[]]},{"id":"8e5d6d7f.41a33","type":"change","z":"7d46c6b9.9d9188","name":"Cancel Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":460,"wires":[["1f1008c4.59ecf7","19ec1f15.cad861"]]},{"id":"db542a78.f0dfc8","type":"function","z":"7d46c6b9.9d9188","name":"set targettemp var","func":"flow.set(\"targettemp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":400,"wires":[["227803d2.30aabc"]]},{"id":"bf11aa36.002488","type":"link in","z":"7d46c6b9.9d9188","name":"Enc Target Temp (Num) UI In","links":["4b67b28.f25f94c","b2cecb68.384248","a791daa9.cea648"],"x":295,"y":400,"wires":[["40a12ed6.d6139"]]},{"id":"9e1a2a9e.190248","type":"switch","z":"7d46c6b9.9d9188","name":"Check targ temp > 0","property":"payload.targtemp","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":400,"wires":[["329f8348.c91e1c"],["8e5d6d7f.41a33"]]},{"id":"6d35ac00.a4c344","type":"change","z":"7d46c6b9.9d9188","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.currtemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3060,"y":850,"wires":[["e52110b6.618c7"]]},{"id":"c14fb819.568968","type":"exec","z":"7d46c6b9.9d9188","command":"/usr/bin/sshpass -p 'YOURPW' ssh -o StrictHostKeyChecking=no  YOURUSRNAME@PI_IP 'sudo shutdown now'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown Octoprint","x":1030,"y":745,"wires":[["65b7b8b9.c8c418","f1b22007.065ab"],[],[]]},{"id":"f1b22007.065ab","type":"delay","z":"7d46c6b9.9d9188","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":880,"wires":[["8ad3f5b2.1e95f8","13278ad6.bad805"]]},{"id":"c892b9f1.15e098","type":"switch","z":"7d46c6b9.9d9188","name":"ON / OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":385,"y":655,"wires":[["f83eaaf9.a2e128","54a78281.e4f30c"],["6f79390d.197a08","1b917a15.ee9646"]]},{"id":"65b7b8b9.c8c418","type":"change","z":"7d46c6b9.9d9188","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1295,"y":765,"wires":[["f312bc6f.6e52a"]]},{"id":"f312bc6f.6e52a","type":"link out","z":"7d46c6b9.9d9188","name":"Enc Heater","links":["ab556289.0781d"],"x":1455,"y":765,"wires":[]},{"id":"8ad3f5b2.1e95f8","type":"change","z":"7d46c6b9.9d9188","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":825,"wires":[["f83eaaf9.a2e128"]]},{"id":"13278ad6.bad805","type":"delay","z":"7d46c6b9.9d9188","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":880,"wires":[["363dac25.0379b4"]]},{"id":"3706ef5e.aeb29","type":"link in","z":"7d46c6b9.9d9188","name":"MK2s Enc Pwr","links":["b1245f72.e0833"],"x":260,"y":655,"wires":[["c892b9f1.15e098"]]},{"id":"363dac25.0379b4","type":"change","z":"7d46c6b9.9d9188","name":"Set Enc Targ Temp to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":880,"wires":[["b2cecb68.384248","e52110b6.618c7"]]},{"id":"b2cecb68.384248","type":"link out","z":"7d46c6b9.9d9188","name":"TargTemp","links":["bf11aa36.002488"],"x":1455,"y":880,"wires":[]},{"id":"f83eaaf9.a2e128","type":"link out","z":"7d46c6b9.9d9188","name":"Tas Skt 1","links":["f20f52bd.2d13e"],"x":2035,"y":790,"wires":[]},{"id":"9bcbd4e8.621fe8","type":"ui_ui_control","z":"7d46c6b9.9d9188","name":"Change Tab","events":"change","x":1575,"y":75,"wires":[[]]},{"id":"c5675f39.05f86","type":"ui_button","z":"7d46c6b9.9d9188","name":"Main menu","group":"85ca0704.c34e18","order":2,"width":"5","height":"1","passthru":false,"label":"Main Menu","tooltip":"","color":"","bgcolor":"Red","icon":"fa-list-ol ","payload":"{\"tab\": \"Home Control Main Menu\"}","payloadType":"json","topic":"","x":1315,"y":75,"wires":[["9bcbd4e8.621fe8"]]},{"id":"e7bae8f9.b851b8","type":"comment","z":"7d46c6b9.9d9188","name":"Safely shutdown mk2s pi before pwr off","info":"","x":390,"y":585,"wires":[]},{"id":"39099084.9d92c","type":"comment","z":"7d46c6b9.9d9188","name":"enclosure temp control","info":"","x":560,"y":300,"wires":[]},{"id":"29ec1375.2a5eac","type":"exec","z":"7d46c6b9.9d9188","command":"/usr/bin/sshpass -p 'YOURPW' ssh -o StrictHostKeyChecking=no  YOURUSRNAME@PI_IP 'sudo shutdown now'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown Octoprint","x":1290,"y":1095,"wires":[["b74db297.24104"],[],[]]},{"id":"b74db297.24104","type":"delay","z":"7d46c6b9.9d9188","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1530,"y":1080,"wires":[["5a2944d6.65046c"]]},{"id":"c0a8f4bc.518b48","type":"switch","z":"7d46c6b9.9d9188","name":"ON / OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":1060,"wires":[["f9ead914.d7b0f8","50ec7d9e.499454"],["4114572f.a26038","a9eb0686.ba4028"]]},{"id":"5a2944d6.65046c","type":"change","z":"7d46c6b9.9d9188","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1215,"wires":[["f9ead914.d7b0f8"]]},{"id":"273948a5.f5f998","type":"link in","z":"7d46c6b9.9d9188","name":"TT Pwr","links":["99e2e255.44764"],"x":255,"y":1060,"wires":[["c0a8f4bc.518b48"]]},{"id":"f9ead914.d7b0f8","type":"link out","z":"7d46c6b9.9d9188","name":"Tas Skt 2","links":["41253e48.b6cf"],"x":1805,"y":1040,"wires":[]},{"id":"a5d849f7.a0f248","type":"comment","z":"7d46c6b9.9d9188","name":"Safely shutdown tt's pi before pwr off","info":"","x":420,"y":1020,"wires":[]},{"id":"c0bec814.266438","type":"ui_template","z":"7d46c6b9.9d9188","group":"7ad2aae.9bd7054","name":"CCTV2","order":5,"width":"7","height":"4","format":"<!DOCTYPE html>  \n<html>  \n    <head>  \n        <style> \n            .geeks { \n                width:100%; \n                height:100%px; \n            } \n            img { \n                width:100%; \n                height:100%; \n            } \n        </style> \n    </head>  \n    <body> \n        <div class = \"geeks\"> \n            <img src= \"http://10.66.1.52:8082\" style=\"transform:rotate(0deg);\"></img>\n        </div> \n    </body>  \n</html> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1305,"y":175,"wires":[[]]},{"id":"abb41a29.265528","type":"ui_template","z":"7d46c6b9.9d9188","group":"52452535.e5876c","name":"CCTV","order":9,"width":"7","height":"4","format":"<!DOCTYPE html>  \n<html>  \n    <head>  \n        <style> \n            .geeks { \n                width:100%; \n                height:100%px; \n            } \n            img { \n                width:100%; \n                height:100%; \n            } \n        </style> \n    </head>  \n    <body> \n        <div class = \"geeks\"> \n            <img src= \"http://10.66.1.52:8081\"></img>\n        </div> \n    </body>  \n</html> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1295,"y":235,"wires":[[]]},{"id":"a7ee4e95.cc88c","type":"function","z":"7d46c6b9.9d9188","name":"Conv to num & set currtemp var","func":"var currtemp = msg.payload.actual;\nflow.set(\"currtemp\", currtemp);\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;","outputs":1,"noerr":0,"x":2795,"y":835,"wires":[["6d35ac00.a4c344","227803d2.30aabc"]]},{"id":"46ff0d.cabfa0f4","type":"function","z":"7d46c6b9.9d9188","name":"Conv to num","func":"var currtemp = msg.payload.actual;\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;","outputs":1,"noerr":0,"x":2875,"y":890,"wires":[["db9ef4f9.62c918"]]},{"id":"a2d3a098.b1e0e","type":"function","z":"7d46c6b9.9d9188","name":"Conv to num","func":"var currtemp = msg.payload.actual;\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;","outputs":1,"noerr":0,"x":2875,"y":930,"wires":[["60472475.ebb2cc"]]},{"id":"db9ef4f9.62c918","type":"change","z":"7d46c6b9.9d9188","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.currtemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3065,"y":890,"wires":[["d3e5aa5e.4603f8"]]},{"id":"60472475.ebb2cc","type":"change","z":"7d46c6b9.9d9188","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.currtemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3065,"y":930,"wires":[["fb4d598c.272048"]]},{"id":"d3e5aa5e.4603f8","type":"ui_gauge","z":"7d46c6b9.9d9188","name":"Tool Temp","group":"52452535.e5876c","order":3,"width":"3","height":"2","gtype":"gage","title":"Tool Current Temp","label":"celsius","format":"{{value}}","min":"50","max":"300","colors":["#0080c0","#00ff00","#ca3838"],"seg1":"160","seg2":"285","x":3255,"y":890,"wires":[]},{"id":"fb4d598c.272048","type":"ui_gauge","z":"7d46c6b9.9d9188","name":"Bed Temp","group":"52452535.e5876c","order":5,"width":"3","height":"2","gtype":"gage","title":"Bed Current Temp","label":"celsius","format":"{{value}}","min":"50","max":"110","colors":["#0080c0","#00ff00","#ca3838"],"seg1":"50","seg2":"85","x":3245,"y":930,"wires":[]},{"id":"52b350f3.f1c59","type":"http request","z":"7d46c6b9.9d9188","name":"DWC","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.66.1.52/machine/status","tls":"","persist":false,"proxy":"","authType":"","x":2280,"y":835,"wires":[["c0ac30dd.5226d","d75e840a.0e5c08","4c343135.d5813"]]},{"id":"54a78281.e4f30c","type":"delay","z":"7d46c6b9.9d9188","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1645,"y":715,"wires":[["a1584b4e.f7dbf8"]]},{"id":"a1584b4e.f7dbf8","type":"looptimer","z":"7d46c6b9.9d9188","duration":"15","units":"Second","maxloops":"100000","maxtimeout":"24","maxtimeoutunits":"Hour","name":"Check Every 15 Seconds","x":1935,"y":715,"wires":[["52b350f3.f1c59"],[]]},{"id":"c0ac30dd.5226d","type":"change","z":"7d46c6b9.9d9188","name":"Extract Chamber Temp","rules":[{"t":"set","p":"payload.actual","pt":"msg","to":"payload.result.sensors.analog[2].lastReading","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2495,"y":835,"wires":[["a7ee4e95.cc88c"]]},{"id":"6f79390d.197a08","type":"change","z":"7d46c6b9.9d9188","name":"STOP LOOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":670,"wires":[["a1584b4e.f7dbf8"]]},{"id":"9ae67efe.e6455","type":"inject","z":"7d46c6b9.9d9188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1840,"y":640,"wires":[["a1584b4e.f7dbf8"]]},{"id":"4cab0adc.404ae4","type":"inject","z":"7d46c6b9.9d9188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1495,"y":610,"wires":[["6f79390d.197a08"]]},{"id":"d75e840a.0e5c08","type":"change","z":"7d46c6b9.9d9188","name":"Extract Tool Temp","rules":[{"t":"set","p":"payload.actual","pt":"msg","to":"payload.result.sensors.analog[1].lastReading","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2485,"y":880,"wires":[["46ff0d.cabfa0f4"]]},{"id":"4c343135.d5813","type":"change","z":"7d46c6b9.9d9188","name":"Extract Bed Temp","rules":[{"t":"set","p":"payload.actual","pt":"msg","to":"payload.result.sensors.analog[0].lastReading","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2485,"y":925,"wires":[["a2d3a098.b1e0e"]]},{"id":"96c307bf.838c78","type":"http request","z":"7d46c6b9.9d9188","name":"DWC","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.66.1.55/rr_status?type=1","tls":"","persist":false,"proxy":"","authType":"","x":2240,"y":1335,"wires":[["f7eb7f20.d0e57","3d6341d.cc9cebe","9cdb6ed2.2fe47"]]},{"id":"50ec7d9e.499454","type":"delay","z":"7d46c6b9.9d9188","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1665,"y":1335,"wires":[["7f94f973.f82ba8"]]},{"id":"7f94f973.f82ba8","type":"looptimer","z":"7d46c6b9.9d9188","duration":"15","units":"Second","maxloops":"100000","maxtimeout":"24","maxtimeoutunits":"Hour","name":"Check Every 15 Seconds","x":2000,"y":1335,"wires":[["96c307bf.838c78"],[]]},{"id":"4114572f.a26038","type":"change","z":"7d46c6b9.9d9188","name":"STOP LOOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1685,"y":1425,"wires":[["7f94f973.f82ba8"]]},{"id":"9dda50ea.e03f","type":"inject","z":"7d46c6b9.9d9188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1750,"y":1230,"wires":[["7f94f973.f82ba8"]]},{"id":"fa55744d.3be618","type":"inject","z":"7d46c6b9.9d9188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1515,"y":1530,"wires":[["4114572f.a26038"]]},{"id":"f7eb7f20.d0e57","type":"debug","z":"7d46c6b9.9d9188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2720,"y":1140,"wires":[]},{"id":"3d6341d.cc9cebe","type":"change","z":"7d46c6b9.9d9188","name":"Extract Tool Temp","rules":[{"t":"set","p":"payload.actual","pt":"msg","to":"payload.temps.current[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2445,"y":1380,"wires":[["cd55e8b1.509918"]]},{"id":"9cdb6ed2.2fe47","type":"change","z":"7d46c6b9.9d9188","name":"Extract Bed Temp","rules":[{"t":"set","p":"payload.actual","pt":"msg","to":"payload.temps.bed.current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2445,"y":1425,"wires":[["6908a596.e1dd1c"]]},{"id":"cd55e8b1.509918","type":"function","z":"7d46c6b9.9d9188","name":"Conv to num","func":"var currtemp = msg.payload.actual;\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;","outputs":1,"noerr":0,"x":2665,"y":1380,"wires":[["b71fca26.ce8a98"]]},{"id":"6908a596.e1dd1c","type":"function","z":"7d46c6b9.9d9188","name":"Conv to num","func":"var currtemp = msg.payload.actual;\nmsg.payload = {\"currtemp\": Math.round(currtemp)};\nreturn msg;","outputs":1,"noerr":0,"x":2665,"y":1420,"wires":[["d1abba7.0e5ba48"]]},{"id":"b71fca26.ce8a98","type":"change","z":"7d46c6b9.9d9188","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.currtemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1380,"wires":[["6bc3b5a4.216e8c"]]},{"id":"d1abba7.0e5ba48","type":"change","z":"7d46c6b9.9d9188","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.currtemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2865,"y":1420,"wires":[["f337b52b.e9d8f8"]]},{"id":"6bc3b5a4.216e8c","type":"ui_gauge","z":"7d46c6b9.9d9188","name":"Tool Temp","group":"7ad2aae.9bd7054","order":1,"width":"3","height":"2","gtype":"gage","title":"Tool Current Temp","label":"celsius","format":"{{value}}","min":"50","max":"300","colors":["#0080c0","#00ff00","#ca3838"],"seg1":"160","seg2":"285","x":3045,"y":1380,"wires":[]},{"id":"f337b52b.e9d8f8","type":"ui_gauge","z":"7d46c6b9.9d9188","name":"Bed Temp","group":"7ad2aae.9bd7054","order":3,"width":"3","height":"2","gtype":"gage","title":"Bed Current Temp","label":"celsius","format":"{{value}}","min":"50","max":"110","colors":["#0080c0","#00ff00","#ca3838"],"seg1":"50","seg2":"85","x":3025,"y":1420,"wires":[]},{"id":"1b917a15.ee9646","type":"function","z":"7d46c6b9.9d9188","name":"","func":"var ChkState = global.get(\"Gar_TT_3DP_Pwr_State\", \"persist\");\nif (ChkState != \"ON\"){\n    msg.payload = \"TURNOFFPI\"\n} else {\n    msg.payload = \"LEAVEPION\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":565,"y":730,"wires":[["4bed51c5.95567"]]},{"id":"4bed51c5.95567","type":"switch","z":"7d46c6b9.9d9188","name":"PI STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"TURNOFFPI","vt":"str"},{"t":"eq","v":"LEAVEPION","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":730,"wires":[["c14fb819.568968"],["8ad3f5b2.1e95f8"]]},{"id":"a9eb0686.ba4028","type":"function","z":"7d46c6b9.9d9188","name":"","func":"var ChkState = global.get(\"Gar_Mk2s_Enc_Pwr_State\", \"persist\");\nif (ChkState != \"ON\"){\n    msg.payload = \"TURNOFFPI\"\n} else {\n    msg.payload = \"LEAVEPION\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":885,"y":1095,"wires":[["167d4938.e4f287"]]},{"id":"167d4938.e4f287","type":"switch","z":"7d46c6b9.9d9188","name":"PI STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"TURNOFFPI","vt":"str"},{"t":"eq","v":"LEAVEPION","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":1095,"wires":[["29ec1375.2a5eac"],["5a2944d6.65046c"]]},{"id":"52452535.e5876c","type":"ui_group","z":"","name":"MK2s","tab":"72f43640.450598","order":1,"disp":true,"width":"7","collapse":true},{"id":"7ad2aae.9bd7054","type":"ui_group","z":"","name":"Two Trees Sapphire S","tab":"72f43640.450598","order":2,"disp":true,"width":"7","collapse":true},{"id":"85ca0704.c34e18","type":"ui_group","z":"","name":"mw","tab":"72f43640.450598","order":3,"disp":false,"width":"7","collapse":false},{"id":"72f43640.450598","type":"ui_tab","z":"","name":"Garage","icon":"fa-building","order":12,"disabled":false,"hidden":false}]